* {
    font-family: "Roboto";
}

main {
    margin: 0 20% !important;
}

#section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* Carrrinho Container */
.cart-container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* Titulo Carrinho */
.tituloCarrinho {
    margin-left: 0.625rem;
    display: flex;
}

.tituloCarrinho i {
    display: flex;
    color: #0D0D0D;
    justify-content: center;
    align-items: center;
    margin-right: 0.625rem;
}

.tituloCarrinho h1 {
    color: #0D0D0D
}

/* Container do produto */
.produtoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.313rem;
    background-color: #ffffff;
}

/* SubContainer Produto */
.produtoSubContainer {
    margin: 0.938rem;
}
.marcaProduto{
    color: #3a3a3a4d;
    font-size: 13px ;
    font-weight: 400;
}
.nomeProduto p{
    text-overflow: ellipsis;
    font-size: 16px;
    color: #0D0D0D;
    font-weight: 400;
    margin-top: 0
}

/* ROW 1 */
.produtoRow1 {
    display: flex;
    margin-left: .635rem;
    margin-bottom: 1.25rem;
}

.produtoRow1 h1 {
    color: #0D0D0D;
    font-size: 22px;
}

.produtoRow1 i {
    color: #0D0D0D;
    margin-right: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ROW 2 */
.produtoRow2 {
    display: flex;
    width: 100%;
}

/* Produto Image */
.produtoRow2 .img img {
    width: 80px;
    height: 80px;
    margin-right: 0.635rem;
}

/* Produto Details */
.produtoRow2Details {
    margin-right: 1.25rem;
    width: 100%;
}

/* Row 2 quantidade */
.produtoRow2QuantPreco {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Quantidade */
.produtoQuantidade {

    display: flex;
    justify-content: center;
    align-items: top;
}

.quantidade {
    width: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.quantidade>input {
    display: flex;
    text-align: center;
    padding: 0;
    width: 40px !important;
    outline: 0;
    border: 0;
    background-color: transparent;
}

.quantidade label {
    position: absolute;
    margin-bottom: 40px;
    font-size: 14px;
    margin-right: 10px;
}

/* button */
button {
    outline: 0;
    border: 0;
    background-color: transparent;
}

/* Remove */
.produtoRemove {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .635rem;
}

.produtoRemove i {
    font-size: 14px;
    color: #D50D0D;
}

.produtoRemove button {
    font-weight: 600;
    font-size: 13px;
    color: #D50D0D;
    cursor: pointer;
}



/* Aside */
aside {
    width: 400px;
    height: 100%;
}

.table-aside {
    margin: 0.938rem;
}

.table-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.313rem;
    background-color: #ffffff;
}

/* Titulo resumo */
.tituloResumo {
    display: flex;
    justify-content: center;
    align-items: top;
}

.tituloResumo h1 {
    margin: 18px;
    font-size: 22px;
}

table {

    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
    border-spacing: 10px 10px
}

th>p {
    text-align: start;
    font-weight: 400;
    font-size: 13px;
    color: 66B1F2;
    margin: 0;
}

td>p {
    font-weight: 700;
    color: #3a3a3a;
    font-size: 1rem;
    color: 66B1F2;
    margin: 10px;
}

#valorDosProdutos {
    margin: 20px;
}

#total {
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.26);
}

/* Comprar botão  */
.comprarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #66B1F2;
    padding: 20px;
    border-radius: 10px;
}

.comprarContainer button {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.comprarContainer i {
    margin-right: .635rem;
    color: #fff;
}


/* Desconto e Frete */
.detailsContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Desconto */
.descontoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    border-radius: 0.313rem;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.descontoSubContainer {
    margin: 0 0.635rem;
}

.descontoContainer input {
    outline: 0;
    min-width: 30%;
    width: 60%;
    max-width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 4px;
    padding: 0 8.5px;

}

.row1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.descontoContainer h4 {
    margin: .635rem 0;
}

.aplicar {
    background-color: #66B1F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.aplicar I {
    margin-right: 10px;
    color: #fff;
}

.aplicar button {
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    padding:0;
}

/* Frete */
.freteContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    border-radius: 0.313rem;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.freteSubContainer {
    margin: 0 .635rem;
}

.freteContainer input {
    outline: 0;
    min-width: 30%;
    width: 60%;
    max-width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 4px;
    padding: 0 8.5px;

}

.freteContainer h4 {
    margin: .635rem 0;
}

@media screen and (max-width: 1300px) {
    .detailsContainer {
        flex-direction: column;
    }

}

@media screen and (max-width: 1000px) {
    .cart-container {
        flex-direction: column !important;
    }

    aside {
        width: 100%;
    }

}

@media screen and (max-width: 750px) {
    .cart-container {
        flex-direction: column !important;
    }

    aside {
        width: 100%;
    }

    .produtoRemove button {
        display: none;
    }
    main {
        margin: 10% !important;
    }

}

@media screen and (max-width: 550px) {
    main {
        margin: 0 !important;
    }
}