.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: white;
    width: 210px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.7s ease;
}
.card-image{
    background: transparent;
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.img-1{
    background-image: url(../arquivos/Image/computadores/imagem1.jpg);
    width: 210px;
    height: 210px;
}
.img-2{
    background-image: url(../arquivos/Image/computadores/imagem2.jpg);
    width: 210px;
    height: 210px;
}
.img-3{
    background-image: url(../arquivos/Image/computadores/imagem3.jpg);
    width: 210px;
    height: 210px;
}
.img-4{
    background-image: url(../arquivos/Image/computadores/imagem4.jpg);
    width: 210px;
    height: 210px;

}
.img-5{
    background-image: url(../arquivos/Image/computadores/imagem5.jpg);
    width: 210px;
    height: 210px;
}
.img-6{
    background-image: url(../arquivos/Image/computadores/imagem14.jpg);
    width: 210px;
    height: 210px;
    position: relative;
    right: 15px;
}
.img-7{
    background-image: url(../arquivos/Image/computadores/imagem7.jpg);
    width: 210px;
    height: 210px;
}
.img-8{
    background-image: url(../arquivos/Image/computadores/imagem8.jpg);
    width: 210px;
    height: 210px;
}

.card h2{
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
    padding: 0px;
}
.card p{
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0;
    padding-top: 9px;
    width: 190px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    margin-bottom: 0;
}
.card a{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
    padding: 10px 55px 10px 55px;
    position: absolute;
    background-color: black;
    color: white;
    display: block;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.7s ease;
    box-shadow: 0px 0px 20px 0px #9797979d;
}
#principal{
    text-align: center;
    color: #3a3a3a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.preços{
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    margin:  0px;
}
.preços span{
    font-size: 16px;
    color: #66B1F2;
    font-weight: 400;
    text-decoration: line-through;
}
.preço-alto{
    padding-top: 10px;
    padding-left: 10px;
    margin:  0px;
    padding-left: 10px;
    margin: 0;
}
.preço-alto span{
    font-size: 15px;
    color: #66B1F2;
    font-weight: 400;
    text-decoration: line-through;
}
.title{
    display: flex;
    justify-content: center;
}
#principal{
    margin-top: 25px;
}
.title p{
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px 0px 0px 20px;
}
.row2{
    margin-right: 25%;
    right: 0;
    position: absolute;
    width: 120px;
    height: 0px;
}
#order{
    border: 0;
    outline: 0;
}
select{
    appearance: none;
    outline: 0;
    color: #0D0D0D;
    font-weight: 600;
    font-size: 14px;
    box-shadow: none;
    background: #FFFFFF;
    background-image: none;
}
.select-container .icon-container{
    width: 60px;
    height: 100%;
    position: absolute;
    top: 52px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container i{
    font-size: 14px;
    color: #0D0D0D;
}
#cima{
    display: none;
}
option{
    border-radius: 20px;
    width: 500px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: none;
    border: 0;
    appearance: 0;
    outline: 0;
    padding: 20px;
}
.container-page{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-page{
    padding: 0;
}
.page-numbers ul{
    margin-bottom: 40px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.page-numbers ul li{
    
    transition: 0.3s ease-in-out;
    background-color: transparent;
    margin: 0 0 0 10px;
    padding: 6px 6px;
    border-radius: 15px;
}
.list-page button{
    font-family: "roboto" sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #3a3a3a;
    cursor: pointer;
    appearance: none;
    outline: 0;
    border: 0;
    background-color: transparent;
}
.page-numbers ul li:hover{
    transition: 0.3s ease-in-out;
    background-color: #66B1F2;
}
#escolhida{
    background-color: #66B1F2;
}
#escolhida2{
    opacity: 0.5;
    background-color: transparent;
}


