.containerpai{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px 0;
}
.container div{
    display: flex;
}
img{
    width: 100%;
}
.slider{
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 1px 0px 5px 2px rgba(122, 122, 122, 0.478);
    width: 600px;
    height: fit-content;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 300px;
    display: flex;

}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    transition: 1s;
    position: relative;
}
.slide img{
    height: 100%;
    width: 700px;
}
.manual-navigation{
    position: relative;
    width: 100%;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manual-btn{
    border-radius: 5px;
    width: 15px;
    height: 5px;
    background-color: #F0F1F2;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    background-color:#66B1F2
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}
#radio6:checked ~ .first{
    margin-left: -125%;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.container2{
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.card{
    box-shadow: 1px 0px 5px 2px rgba(122, 122, 122, 0.478);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.7s ease;
}
.card-img{
    overflow: hidden;
    background: transparent;
    height: 300px;
    background-size: cover;
    transition: 0.3 ease-out;
}
.img-1:hover{
    transition: 0.3s ease;
}
.img-1{
    transition: 0.3s ease-out;
    opacity: 1;
    border-radius: 10px;
    background-image: url(/arquivos/Image/slider/setup-gamer2.jpeg);
}
.card h2{
    font-family: 'Poppins', sans-serif;
    color: #F0F1F2;
    font-weight: 600;
    padding: 50px 20px 0px 30px;
    margin: 0;
}
.card p{
    text-shadow: 2px 2px 8px #000000;
    color: #F0F1F2;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 10px 20px 0px 30px;
}
.card span{
    font-weight: 1000;
}
.card button{
    color: white;
    margin: 10px 20px 0px 30px;
    padding: 10px 15px;
    border: 0;
    font-weight: 700;
    background-color: #4178BF;
    font-size: 14px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease-in-out;
}
.card button:hover{
    background-color: #3a99ec;
    transition: 0.5s ease-in-out;
}
@media (max-width: 1920px) {
    .containerpai{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .slider{
        height: 300px;
        width: 600px;
    }
    .slide img{
        height: 300px;
        width: 600px;
    }
    .manual-navigation{
        width: 600px;
        }
}
@media (max-width: 1300px) {
    .slider{
        height: 300px;
        width: 400px;
    }
    .slide img{
        height: 300px;
        width: 400px;
    }
    .manual-navigation{
        width: 400px;
    }
}
@media (max-width: 1024px) {

    .slider{
        height: 300px;
        width: 400px;
    }
    .slide img{
        height: 300px;
        width: 400px;
    }
    .manual-navigation{
        width: 400px;
    }
    .container2{
        display: none;
    }
}
@media (max-width: 800px){  
    .slider{
        margin: auto;
        height: 250px;
        width: 350px;
    }
    .slide img{
        height: 250px;
        width: 350px;
    }
    .manual-navigation{
        width: 350px;
    }
}
@media (max-width: 600px){
    .container{
        height: 200px;
    }
    .slides{
        height: fit-content;
    }
    .slider{
        margin: auto;
        height: 200px;
        width: 300px;
    }
    .slide img{
        height: 200px;
        width: 300px;
    }
    .manual-navigation{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}