.containerpai{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px 0;
}
img{
    width: 100%;
}
.slider{
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 1px 0px 5px 2px rgba(122, 122, 122, 0.478);
    width: 600px;
    height: fit-content;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 300px;
    display: flex;

}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    transition: 1s;
    position: relative;
}
.slide img{
    height: 100%;
    width: 700px;
}
.manual-navigation{
    position: relative;
    width: 100%;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manual-btn{
    border-radius: 5px;
    width: 15px;
    height: 5px;
    background-color: #F0F1F2;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    background-color:#66B1F2
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
#radio5:checked ~ .first{
    margin-left: -100%;
}
#radio6:checked ~ .first{
    margin-left: -125%;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.container2{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container7{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.card{
    box-shadow: 1px 0px 5px 2px rgba(122, 122, 122, 0.478);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.7s ease;
}
.card7{
    box-shadow: 1px 0px 5px 2px rgba(122, 122, 122, 0.478);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.7s ease;
}
.card-img{
    overflow: hidden;
    background: transparent;
    height: 300px;
    background-size: cover;
    transition: 0.3 ease-out;
}
.img-1:hover{
    transition: 0.3s ease;
}
.imgBanner-1{
    transition: 0.3s ease-out;
    opacity: 1;
    border-radius: 10px;
    background-image: url(../arquivos/Image/slider/setup-gamer2.jpeg);
}
.imgBanner-2{
    transition: 0.3s ease-out;
    opacity: 1;
    border-radius: 10px;
    background-image: url(../arquivos/Image/slider/setup-gamer3.jpeg);
}
.card h2{
    font-family: 'Poppins', sans-serif;
    color: #F0F1F2;
    font-weight: 600;
    padding: 50px 20px 0px 30px;
    margin: 0;
}
.card p{
    text-shadow: 2px 2px 8px #000000;
    color: #F0F1F2;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 10px 20px 0px 30px;
}
.card span{
    font-weight: 1000;
}
.card button{
    color: white;
    margin: 10px 20px 0px 30px;
    padding: 10px 15px;
    border: 0;
    font-weight: 700;
    background-color: #4178BF;
    font-size: 14px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease-in-out;
}
.card7 button:hover{
    background-color: #3a99ec;
    transition: 0.5s ease-in-out;
}
.card7 h2{
    font-family: 'Poppins', sans-serif;
    color: #F0F1F2;
    font-weight: 600;
    padding: 50px 20px 0px 30px;
    margin: 0;
}
.card7 p{
    text-shadow: 2px 2px 8px #000000;
    color: #F0F1F2;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 10px 20px 0px 30px;
}
.card7 span{
    font-weight: 1000;
}
.card7 button{
    color: white;
    margin: 10px 20px 0px 30px;
    padding: 10px 15px;
    border: 0;
    font-weight: 700;
    background-color: #4178BF;
    font-size: 14px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s ease-in-out;
}
.card7 button:hover{
    background-color: #3a99ec;
    transition: 0.5s ease-in-out;
}
.carrossel {
    display: row;
    position: relative;
    width: 915px;
    overflow: hidden;
}

.cards-container {
    padding: 1.25rem 0;
    display: flex;
    transition: all 0.5s ease;
}


.arrows {
    display: inline;
    align-items: center;
    justify-content: center;
    color: #0D0D0D;
    transform: translateX(-50%);
}

.arrow {
    border-radius: 5px;
    justify-content: center;
    background-color: #66B1F2;
    padding: 5px 10px;
    cursor: pointer;
}

.fa-chevron-left {
    top: 50%;
    position: absolute;
}

.fa-chevron-right  {
    right: 0;
    position: absolute;
    top: 50%;
}
.card2{
    padding-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: white;
    width: 13.125rem;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.7s ease;
}
.card2-image{
    background: transparent;
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card2 h2{
    margin-left: 10px;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0px;
}
.card2 p{
    margin-left: 10px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0;
    padding-top: 9px;
    width: 190px;
    height: 40px;
    margin-right: 10px;
    padding: 0px;
    margin-bottom: 0;
}
.card2 a{
    display: inline;
    margin: 10px 10px 10px 10px;
    align-items: center;
    padding: 10px 60px 10px 60px;
    position: absolute;
    background-color: black;
    color: white;
    display: block;
    border-radius: 10px;
    text-align: center; 
    text-decoration: none;
}
.card2:hover{
    box-shadow: 0px 0px 13px 0px #9797979d;
    cursor: pointer;
    margin-top:  -10px;
    transition: all 0.7s ease;
}
#principal{
    text-align: center;
    color: #3a3a3a;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.preços{
    padding: 5px;
    display: block;
    padding-top: 10px;
    margin:  0px 0px 0px 10px;
}
.preços span{
    width: 100%;
    position: absolute;
    margin-bottom: 10px;
    margin-left: 0.4rem;
    font-size: 0.9rem;
    color: #66B1F2;
    font-weight: 400;
    text-decoration: line-through;
}
.preço-alto{
    padding-top: 10px;
    margin: 0;
    margin:  0px;
    margin: 0;
}
.preço-alto span{
    font-size: 15px;
    color: #66B1F2;
    font-weight: 400;
    text-decoration: line-through;
}
.desconto{
    margin-bottom: 10px;
    color: white;
    padding: 5px;
    height: 20px;
    width: 60px;
    border-radius: 10px 0px 10px 0px;
    background-color: #3a99ec;
    position: relative;
}

/* Imagens computadores */
.imgPC-1{
    background-image: url(../arquivos/Image/computadores/imgPC1-01.jpg);
    width: 210px;
    height: 210px;
}
.imgPC-2{
    background-image: url(../arquivos/Image/computadores/imgPC2-01.jpg);
    width: 210px;
    height: 210px;
}
.imgPC-3{
    background-image: url(../arquivos/Image/computadores/imgPC3-01.jpg);
    width: 210px;
    height: 210px;
}
.imgPC-4{
    background-image: url(../arquivos/Image/computadores/imgPC4-01.jpg);
    width: 210px;
    height: 210px;
}
.imgPC-5{
    background-image: url(../arquivos/Image/computadores/imgPC5-01.jpg);
    width: 210px;
    height: 210px;
}
.imgPC-6{
    background-image: url(../arquivos/Image/computadores/imgPC6-01.jpg);
    width: 210px;
    height: 210px;
}
.imgPC-7{
    background-image: url(../arquivos/Image/computadores/imgPC7-01.jpg);
    width: 210px;
    height: 210px;
}
.imgPC-8{
    background-image: url(../arquivos/Image/computadores/imgPC8-01.jpg);
    width: 210px;
    height: 210px;
}
/* Imagens Monitores */

.imgMonitor-1{
    background-image: url(../arquivos/Image/monitor/imgMonitor1-01.jpg);
    width: 210px;
    height: 210px;
}
.imgMonitor-2{
    background-image: url(../arquivos/Image/monitor/imgMonitor2-01.jpg);
    width: 210px;
    height: 210px;
}
.imgMonitor-3{
    background-image: url(../arquivos/Image/monitor/imgMonitor3-01.jpg);
    width: 210px;
    height: 210px;
}
.imgMonitor-4{
    background-image: url(../arquivos/Image/monitor/imgMonitor4-01.jpg);
    width: 210px;
    height: 210px;
}
.imgMonitor-5{
    background-image: url(../arquivos/Image/monitor/imgMonitor5-01.jpg);
    width: 210px;
    height: 210px;
}
.imgMonitor-6{
    background-image: url(../arquivos/Image/monitor/imgMonitor6-01.jpg);
    width: 210px;
    height: 210px;
}
.imgMonitor-7{
    background-image: url(../arquivos/Image/monitor/imgMonitor7-01.jpg);
    width: 210px;
    height: 210px;
}
.imgMonitor-8{
    background-image: url(../arquivos/Image/monitor/imgMonitor8-01.jpg);
    width: 210px;
    height: 210px;
}



@media (max-width: 1920px) {
    .containerpai{
        transition: 0.5s;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .slider{
        transition: 0.5s;
        height: 300px;
        width: 600px;
    }
    .slide img{
        transition: 0.5s;
        height: 300px;
        width: 600px;
    }
    .manual-navigation{
        width: 600px;
        transition: 0.5s;
        }
}
@media (max-width: 1300px) {
    .slider{
        transition: 0.5s;
        height: 300px;
        width: 400px;
    }
    .slide img{
        transition: 0.5s;
        height: 300px;
        width: 400px;
    }
    .manual-navigation{
        transition: 0.5s;
        width: 400px;
    }
}
@media (min-width: 1025px) {
    .cards-containers{
        display: none;
    }
    .container3{
        display: none;
    }
    .card7{
        display: none;
    }
}

@media (max-width: 1024px) {
    .slider{
        transition: 0.5s;
        height: 300px;
        width: 550px;
    }
    .slide img{
        transition: 0.5s;
        height: 300px;
        width: 550px;
    }
    .manual-navigation{
        transition: 0.5s;
        width: 550px;
    }
    .container2{
        transition: 0.5s;
        display: none;
    }
    .cards-containers{
        display: flex;
    }
    .container3{
        margin: 10px;
        display: flex;
    }
    .card7{
        display: flex;
    }
    
}
@media (max-width: 800px){  
    .slider{
        transition: 0.5s;
        height: 250px;
        width: 480px;
    }
    .slide img{
        transition: 0.5s;
        height: 250px;
        width: 480px;
    }
    .manual-navigation{
        transition: 0.5s;
        margin-top: -65px;
        width: 480px;
    }
}
@media (max-width: 680px){
    .slides{
        transition: 0.5s;
        height: fit-content;
    }
    .slider{
        transition: 0.5s;
        margin: auto;
        height: 200px;
        width: 400px;
    }
    .slide img{
        transition: 0.5s;
        height: 200px;
        width: 400px;
    }
    .manual-navigation{
        transition: 0.5s;
        width: 400px;
        margin-top: -25px;
    }
}
@media (max-width: 600px){
    .container{
        transition: 0.5s;
        height: 200px;
    }
    .slides{
        transition: 0.5s;
        height: fit-content;
    }
    .slider{
        transition: 0.5s;
        margin: auto;
        height: 200px;
        width: 350px;
    }
    .slide img{
        transition: 0.5s;
        height: 200px;
        width: 350px;
    }
    .manual-navigation{
        transition: 0.5s;
        width: 350px;
        margin-top: -25px;
    }
    .carrossel {
        width: 100%;
    }
    main{
        margin: 0 8% !important;
    }

    .mobile-container{
        display: flex;
    }
    
}
@media (max-width: 500px){
    .mobile-card{
        width: 210px !important;
        margin: 0 0 0 80px !important;
    }
    .mobile-card2{
        width: 210px !important;
        margin: 0 0 0 80px !important;
    }
    .mobile-card3{
        width: 210px !important;
        margin: 0 0 0 80px !important;
    }
}
@media screen and (max-width: 389px ){
    .mobile-card{
        width: 210px !important;
        margin: 0 0 0 55px !important;
    }
    .mobile-card2{
        width: 210px !important;
        margin: 0 0 0 55px !important;
    }
    .mobile-card3{
        width: 210px !important;
        margin: 0 0 0 55px !important;
    }
}


.card3{
    padding-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: white;
    width: 13.125rem;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.7s ease;
}

.card3 h2{
    margin-left: 10px;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0px;
}
.card3 p{
    margin-left: 10px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0;
    padding-top: 9px;
    width: 190px;
    height: 40px;
    margin-right: 10px;
    padding: 0px;
    margin-bottom: 0;
}
.card3 a{
    display: inline;
    margin: 10px 10px 10px 10px;
    align-items: center;
    padding: 10px 60px 10px 60px;
    position: absolute;
    background-color: black;
    color: white;
    display: block;
    border-radius: 10px;
    text-align: center; 
    text-decoration: none;
}
.card3:hover{
    box-shadow: 0px 0px 13px 0px #9797979d;
    cursor: pointer;
    margin-top:  -10px;
    transition: all 0.7s ease;
}
.arrows2 {
    display: inline;
    align-items: center;
    justify-content: center;
    color: #0D0D0D;
    transform: translateX(-50%);
}
.arrow2 {
    border-radius: 5px;
    justify-content: center;
    background-color: #66B1F2;
    padding: 5px 10px;
    cursor: pointer;
}
.container3{
    padding-top: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.carrossel2 {
    display: row;
    position: relative;
    width: 915px;
    overflow: hidden;
}

.cards-container2 {
    padding: 1.25rem 0;
    display: flex;
    transition: all 0.5s ease;
}
.title{
    display: flex;
    justify-content: center;
}
#principal{
    margin-top: 25px;
}
.title p{
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px 0px 0px 20px;
}
.row2{
    border-radius: 10px 5px 10px 5px;
    padding: 5px 10px;
    background-color: #3a99ec;
    margin-top: 35px;
    margin-right: 25%;
    right: 0;
    position: absolute;
}
.row2 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.carrossel3 {
    display: row;
    position: relative;
    width: 915px;
    overflow: hidden;
}
.cards-container3 {
    padding: 1.25rem 0;
    display: flex;
    transition: all 0.5s ease;
}
.card4{
    padding-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: white;
    width: 13.125rem;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.7s ease;
}
.card4-image{
    background: transparent;
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card4 h2{
    margin-left: 10px;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0px;
}
.card4 p{
    margin-left: 10px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0;
    padding-top: 9px;
    width: 190px;
    height: 40px;
    margin-right: 10px;
    padding: 0px;
    margin-bottom: 0;
}
.card4 a{
    display: inline;
    margin: 10px 10px 10px 10px;
    align-items: center;
    padding: 10px 60px 10px 60px;
    position: absolute;
    background-color: black;
    color: white;
    display: block;
    border-radius: 10px;
    text-align: center; 
    text-decoration: none;
}
.card4:hover{
    box-shadow: 0px 0px 13px 0px #9797979d;
    cursor: pointer;
    margin-top:  -10px;
    transition: all 0.7s ease;
}

.arrows3 {
    display: inline;
    align-items: center;
    justify-content: center;
    color: #0D0D0D;
    transform: translateX(-50%);
}
.arrow3 {
    border-radius: 5px;
    justify-content: center;
    background-color: #66B1F2;
    padding: 5px 10px;
    cursor: pointer;
}
.cards-containers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
