
.artigo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0 10px 10px;

}
.artigo h1 b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #66b1f2;
    font-weight: 700;
    font-size: 40px;
    margin: 10px 5px 0 20px;
    padding: 0;
}
.artigo h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 5px 0 10px;
    padding: 0;
}
.artigo p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 10px;
    padding: 0;
    margin: 0 0px 15px 0px;
}
.artigo h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0% 0px 15px 10px;
    padding: 0;
}