html{
    margin: 0;
    padding: 0;
}
.nav-list a, .logo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
#carrinho a{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ffffff
}
.nav-list #carrinho a:hover{
    background: #ffffff;
    color: black;
    opacity: 1;
}
.nav-list a:hover{
    opacity: 0.6;
}
.logo{
    font-size: 43px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
body{
    margin: 0;
    background-color: #ffffff;
}
header{
    width: 100%;
}
nav{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #4178BF;
    height: 12vh;
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.search-box{
    display: flex;
    background-color: #ffffff;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}
.search-box a{
    text-decoration: none;
    color: #4178BF;
    font-weight: bold;
}
.search-text{
    font-size: 14px;
    background: none;
    border: 0;
    outline: 0;
}
input {
    width: 200px;
}
.navigation{
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-evenly;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    background-color: #F0F1F2;
    box-shadow: 2px 1px 5px black;
}
.navigation a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #0D0D0D;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
@media (min-width: 1034px){
    #carrinho2{
        display: none;
        
    } 
}
@media (max-width: 1034px) {
    .navigation{
        display: none;
    }
    .search-box{
        display: none;
    }
    .nav-list #carrinho{
        display: none;
    }
    .nav-list{
        font-size: 20px;
    }
}
@media (max-width: 555px){
    .logo{
        font-size: 20px;
    }
}
.menu-container {
    position: relative;
    width: 200px;
}
.produtos{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0D0D0D;
    padding: 10px;
    border: 1px solid #ccc;
}
.menu li {
    padding: 10px;
    list-style-type: none;
}
.menu li a {
    display: block;
    color: #333;
    text-decoration: none;
}
.menu-trigger {
    cursor: pointer;
}
.menu-trigger:hover + .menu-produtos{ 
    display: block;
}
.navigation span{
    padding-bottom: 20px;
}
.navigation a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    margin-top: 21px;
    height: 2px;
    border-radius: 5px;
    background-color: #D95A11;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}
.navigation a:hover::after{
    width: 100%;
}






